/**
 * Hoja de estilo para texto enriquecido con BBCode y Markdown para contenidos.
 *
 * @author Pablo Floriano
 * @copyright 2012 Estudio Hécate
 */
@CHARSET "UTF-8";

.tdh_cuerpo p  { margin: 10px 0 15px 0; }
.tdh_cuerpo h1 { font: bold 20px Arial; margin: 5px 0 5px 0; }
.tdh_cuerpo h2 { font: bold 16px Arial; margin: 5px 0 5px 0; }
.tdh_cuerpo h3 { font: bold 15px Arial; margin: 5px 0 5px 0; color: #505050; }

.tdh_cuerpo table { width: 450px; margin: 10px 0 15px 0; border-collapse: collapse; }
.tdh_cuerpo table th,
.tdh_cuerpo table td {
  text-align: left; 
  background-color: #6b6b6b; 
  border: 1px solid #fff; 
  padding: 1px 2px 1px 2px;
  font-size: 11px;
}

  .tdh_cuerpo table th { background-color: #6b6b6b; font-weight: bold; color: #fff; }
  .tdh_cuerpo table td { background-color: #eee; }

.tdh_cuerpo .bbcode_quote_head { display: none; }

.tdh_cuerpo blockquote,
.tdh_cuerpo .bbcode_quote_body {
  margin: 10px 25px 0 15px;
  color: #777;
  border-left: 3px solid #777;
  padding-left: 10px;
}

.tdh_cuerpo ul,
.tdh_cuerpo ol {
  margin: 10px 15px 10px 25px;
}

.tdh_cuerpo ul li { 
  padding-left: 20px;
  margin-bottom: 5px;
  background: transparent url('../images/btns/bulletarrowright.png') no-repeat 0 0;
}

.tdh_cuerpo ol li { 
  list-style-type: decimal; 
  margin-bottom: 5px; 
}